package components

templ Header() {
	<head>
		<link rel="stylesheet" href="/static/css/output.css"/>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
}
